/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/*
.button {
 -fx-background-color: aqua; 	
 -fx-padding: 30px;
}
* 
*/

.MetroButton {
-fx-border-insets: 5.0px;
-fx-background-insets: 5.0px;
-fx-padding: 30.0; 
-fx-background-color:#178BFC;
-fx-text-fill: rgb(255.0,255.0,255.0);
-fx-font-weight: bold;
-fx-font-size:34.0px ;
/*-fx-font-family: "cursive";*/
}

.MetroButton:hover {
-fx-border-insets: 5.0px;
-fx-background-insets: 5.0px;
-fx-padding: 30.0; 
-fx-background-color:#168BEC;
-fx-text-fill: rgb(255.0,255.0,255.0);
-fx-font-weight: bold;
-fx-font-size:34.0px ;
/*-fx-font-family: "cursive";*/
}
/* 
.MetroButton:hover {
	    -fx-border-insets: 5.0px;
    -fx-background-insets: 5.0px;
-fx-padding: 30.0; 
-fx-background-color: rgb(255.0,0.0,0.0);
-fx-effect: innershadow(three-pass-box, gray, 12.0 , 0.5, 1.0, 1.0);
}

.MetroButton:active {
	    -fx-border-insets: 5.0px;
    -fx-background-insets: 5.0px;
-fx-padding: 30.0; 
-fx-background-color: rgb(100.0,100.0,0.0);
-fx-effect: innershadow(three-pass-box, gray, 12.0 , 0.5, 1.0, 1.0);
}

*/